<footer id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='col-md-3'>
          <h3>MARKETING APP</h3>
          <p>Somos uma agência de marketing
          Digital de Performance que trabalha para
          melhorar o resultado da sua empresa por
          meio do marketing digital.
          </p>
        </div>

        <div class='col-md-3'>
          <h3>Serviços</h3>
          <ul class='list-unstyled'>
            <li><%= link_to 'Planejamento e Estratégia', strategy_service_path %></li>
            <li><%= link_to 'Inbound Marketing', inbound_marketing_service_path %></li>
            <li><%= link_to 'Marketing de Conteúdo', content_marketing_service_path %></li>
            <li><%= link_to 'Automação de marketing', marketing_automation_service_path %></li>
            <li><%= link_to 'SEO', seo_service_path %></li>
            <li><%= link_to 'Mídia Paga', paid_midia_service_path %></li>
            <li><%= link_to 'Business Intelligence', business_intelligence_service_path %></li>
            <li><%= link_to 'Social Media', social_media_service_path %></li>
            <li><%= link_to 'Desenvolvimento', development_service_path %></li>
          </ul>
        </div>

        <div class='col-md-2'>
          <ul class='list-unstyled'>
            <li><%= link_to 'Empresa', company_path %></li>
            <li><%= link_to 'Metodologia', methodology_path %></li>
            <li><%= link_to 'Serviços', services_path %></li>
            <li><%= link_to 'Blog', blog_posts_path %></li>
            <li><%= link_to 'Contato', contact_path %></li>
          </ul>
        </div>

        <div class='col-md-4'>
          <div id='facebook-box'>
            <div class='well'>
              <!-- facebook page presenter -->
            </div>
          </div>
          
          <ul class='list-unstyled'>
            <li>
              <%= link_to 'https://facebook.com/', 
                target: '_blank' do %>
                <i class="fab fa-facebook-f"></i>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://instagram.com/', 
                target: '_blank' do %>
                <i class="fab fa-instagram"></i>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://linkedin.com/', 
                target: '_blank' do %>
                <i class="fab fa-linkedin-in"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id='copyright'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <p>&copy <%= Date.today.year %> - Marketing de Performance. 
          Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>