<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <title>MarketingApp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css"><%= yield :css %></style>
    <script type="text/javascript"><%= yield :js %></script>
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel='canonical' href=''>
  </head>
  <body 
    class="<%= controller.controller_name %>" 
    data-spy='scroll'>
      <%= yield %>
  </body>
</html>
